<!doctype html>
<html ng-app='restaurantList'>
  <head>
    <title>Best Restaurants</title>
    <script src ='lib/angular.js'></script>
    <script src="app.js"></script>
    <script src="js/RestaurantController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class='container' ng-controller='RestaurantCtrl'>
      <div class='row' ng-show="restaurants.length">
        <div class="col-md-12">
          <h4>Search Restaurants</h4>
          <form class="form-inline" role="form">
            <div class="form-group">
            <div class="checkbox">
              <input ng-model="query[searchby]" type="text" class="form-control" placeholder="Search">
              </div>
              <select ng-model="searchby" class="form-control">
                <option value="name">Search By Name</option>
                <option value="cuisine" >Search By Cuisine</option>
                <option value="location" >Search By Location</option>
                <option value="priceRange" >Search By Price</option>
              </select>
             <!--  <div class="checkbox">
              <input type="radio" ng-click="query = ''" ng-model="searchby" value="name"> name
              </div>
              <div class="checkbox">
              <input type="radio" ng-click="query = ''" ng-model="searchby" value="cuisine"> cuisine
              </div>
              <div class="checkbox">
              <input type="radio" ng-click="query = ''" ng-model="searchby" value="location"> location
              </div>
              <div class="checkbox">
              <input type="radio" ng-click="query = ''" ng-model="searchby" value="priceRange"> price
              </div> -->
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 ng-show="restaurants.length && filtered.length">Restaurant List</h2>
          <h2 ng-show="restaurants.length && !filtered.length">No Matches</h2>
          <ul>
              <li ng-repeat="item in filtered = (restaurants | filter: query )">
              <span ng-click="editing = true">
              {{item.name}}
              </span>
              <ul>
                <li>{{item.cuisine}}</li>
                <li>{{item.location}}</li>
                <li>{{item.priceRange}}</li>
                <li><a ng-click="deleteRestaurant(item)">Delete</a></li>
              </span>
              </ul>
                <span class="form-group" ng-show="editing" ng-submit="editing = false">
                  <form role="form">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input name="name" type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                      <label for="cuisine">Cuisine</label>
                      <input name="cuisine" type="text" class="form-control input-sm" ng-model="item.cuisine" placeholder="Cuisine" required>
                    </div>
                    <div class="form-group">
                      <label for="location">Location</label>
                      <input name="location" type="text" class="form-control input-sm" ng-model="item.location" placeholder="Location" required>
                    </div>
                    <div class="form-group">
                      <label for="price">Price Range</label>
                      <input name="price" type="text" class="form-control input-sm" ng-model="item.priceRange" placeholder="Price Range" required>
                    </div>
                    <button class="btn btn-default btn-sm" type="submit">Save</button>
                </form>
              </span>
            </span>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>New Restaurant</h2>
          <form ng-submit="addRestaurant()" class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="restaurantName" class="form-control" placeholder="Enter Name">
            </div>
            <div class="form-group">
              <input type="text" ng-model="cuisine" class="form-control" placeholder="Enter Cuisine">
            </div>
            <div class="form-group">
              <input type="text" ng-model="location" class="form-control" placeholder="Enter Location">
            </div>
            <div class="form-group">
              <input type="text" ng-model="priceRange" class="form-control" placeholder="Enter Price Range">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
